#board{
    position: absolute;
    width: 535px; height: 531px;
    top: 0px; left: 0px;
    border: 7px #B8B8B8 solid;
    background-color: #D0D0D0;
}

.square{
    position: absolute;
    border-radius: 16px;
    width: 56px;
    height: 56px;
    z-index: 1; 
}

.row1{top: 10px;}
.row2{top: 75px;}
.row3{top: 139px;}
.row4{top: 204px;}
.row5{top: 268px;}
.row6{top: 333px;}
.row7{top: 397px;}
.row8{top: 462px;}

.col1{left: 14px;}
.col2{left: 79px;}
.col3{left: 143px;}
.col4{left: 208px;}
.col5{left: 272px;}
.col6{left: 337px;}
.col7{left: 401px;}
.col8{left: 466px;}

.red{background-color: red;}
.black{background-color: black;}
.blue{background-color: blue;}
.green{background-color: green;}
.color0{background-color: #339966;}
.color1{background-color: #333333;}

/*.color0{background-color: green;}*/
/*.color1{background-color: black;}*/

.line{
    position: absolute;
    background-color: gray;
}

.horizontally{width: 523px; height: 1px; left: 6px;}
.vertical{width: 1px; height: 519px; top: 6px;}

#v_line0{left: 74px;}
#v_line1{left: 138px;}
#v_line2{left: 203px;}
#v_line3{left: 266px;}
#v_line4{left: 331px;}
#v_line5{left: 395px;}
#v_line6{left: 461px; width: 0.5px;}

#h_line0{top: 69px; height: 0.5px;}
#h_line1{top: 134px;}
#h_line2{top: 198px;}
#h_line3{top: 262px;}
#h_line4{top: 326px;}
#h_line5{top: 391px;}
#h_line6{top: 457px; height: 0.5px;}
